body {
  margin: 0;
  font-family: 'Raleway', 'sans-serif';
  color: #fff;
  background-color: #36393e;
  font-weight: 600;
}

.head-wrapper { 
  height: 500px;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  /*-webkit-animation: rainbow 20s ease infinite;
  -z-animation: rainbow 20s ease infinite;
  -o-animation: rainbow 20s ease infinite;*/
  
}

.back-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  background-image: url("https://amusementclub.nyc3.digitaloceanspaces.com/web/blurback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: rainbow linear 70s infinite;
  z-index: -1;
  opacity: .8;
  background-blend-mode: screen;
}

@-webkit-keyframes rainbow { 
  0% { filter: hue-rotate(100deg); background-position: 0 0}
  20% { filter: hue-rotate(-100deg); }
  30% { filter: hue-rotate(50deg); }
  50% { filter: hue-rotate(0deg); background-position: 0 100% }
  70% { filter: hue-rotate(50deg); }
  80% { filter: hue-rotate(-100deg); }
  100% { filter: hue-rotate(100deg); background-position: 0 0 }
}
@-moz-keyframes rainbow { 
  0% { filter: hue-rotate(100deg); background-position: 0 0}
  20% { filter: hue-rotate(-100deg); }
  30% { filter: hue-rotate(50deg); }
  50% { filter: hue-rotate(0deg); background-position: 0 100% }
  70% { filter: hue-rotate(50deg); }
  80% { filter: hue-rotate(-100deg); }
  100% { filter: hue-rotate(100deg); background-position: 0 0 }
}
@-o-keyframes rainbow { 
  0% { filter: hue-rotate(100deg); background-position: 0 0}
  20% { filter: hue-rotate(-100deg); }
  30% { filter: hue-rotate(50deg); }
  50% { filter: hue-rotate(0deg); background-position: 0 100% }
  70% { filter: hue-rotate(50deg); }
  80% { filter: hue-rotate(-100deg); }
  100% { filter: hue-rotate(100deg); background-position: 0 0 }
}
@keyframes rainbow { 
  0% { filter: hue-rotate(100deg); background-position: 0 0}
  20% { filter: hue-rotate(-100deg); }
  30% { filter: hue-rotate(50deg); }
  50% { filter: hue-rotate(0deg); background-position: 0 100% }
  70% { filter: hue-rotate(50deg); }
  80% { filter: hue-rotate(-100deg); }
  100% { filter: hue-rotate(100deg); background-position: 0 0 }
}

a {
  text-decoration: none;
  color: #fff;
}

b {
  font-weight: 700;
}


/*HEADER*/

.head-content {
  display: flex;
  width: 800px;
  height: 100%;
  margin: auto;
}
  
  .head-content .daily-card {
    display: inline-block;
    height: 100%;
    width: 280px;
    margin-left: 30px;
  }

    .head-content .daily-card .card-info {
      display: block;
      font-size: 14px;
      margin-top: 30px;
      text-align: center;
    }

      .head-content .daily-card .card-info p {
        margin-top: 2px;
        margin-bottom: 0;
      }

    .head-content .daily-card img {
      display: block;
      width: 100%;
      margin: auto;
      margin-top: 25px;
      filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.75)) saturate(1);
      transition: .25s;
    }

    .head-content .daily-card img:hover {
      filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.75)) saturate(1.5);
      transform: translateY(-5px);
      transition: .25s;
    } 

  .head-content .desc-content {
    display: inline-block;
    margin-left: 80px;
    width: 500px;
  }

  .head-content .links {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .head-content .links a span {
    font-size: 20px;
    margin-top: 5px;
    transition: .2s;
  }

  .head-content .links a span:hover {
    margin-left: 15px;
    transition: .2s;
  }

  .head-content button {
    background-color: #36393e;
    font-size: 20px;
    padding: 15px;
    color: #fff;
    margin-left: 40px;
    margin-top: 50px;
  }

  .head-content button:hover {
    background-color: #2c2c2c;
  }

    .head-content button > span:first-child {
      display: block;
      vertical-align: top;
      background: radial-gradient(#ebb35b,  #e8ad5a, #f8d148, #adcd86, #5abec1, #4faeb1, #5abec1, #adcd86, #f8d148, #e8ad5a, #ebb35b); 
      background-size: 500% 500%;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 45s linear infinite;
    }

    .head-content button img {
      vertical-align: bottom;
    }

    .head-content button img {
      margin-right: 15px;
    }

  @keyframes shine {
    to {
      background-position: 500% 500%;
    }
  }

  .head-content span.text {
    display: block;
    font-size: 16px;
    margin-top: 20px;
    width: 350px;
  }

  .head-content span.title {
    display: block;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 120px;
  }



/*BODY*/


.main {
  width: 100%;
  background-color: #36393e;

}

.alexandrite-header {
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, #eb2196, #0d4acf, #2b9ab5);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.2), 
              0px -2px 2px 0px rgba(0, 0, 0, 0.14), 
              0px -3px 1px -2px rgba(0, 0, 0, 0.12);
}

h1 {
  font-size: 50px;
  color: #2b9ab5;
}

h2 {
  margin-top: 60px;
  color: #eb2196;
}

b {
  color: #2b9ab5;
}

.container {
  width: 800px;
  margin: auto;
  color: #fff;
}
  
  .container .video {
    display: inline-block;
    width: 400px;
    margin-left: 50px;
    margin-top: 20px;
    vertical-align: top;
    background-color: #35383E;
  }

    .container .video video {
      width: 100%;
    }
  
  .container .article {
    margin-top: 30px;
    width: 100%;
  }

    .container .article span {
      display: block;
      margin: 0 150px;
      margin-bottom: 20px;
      text-align: center;
    }

    .container .article h1 {
      width: 100%;
      display: block;
      font-size: 35px;
      font-weight: 300;
      color: #e8ad5a;
      text-align: center;
      margin: 30px 0;
    }

    .container .article .title {
      display: inline-block;
      font-size: 30px;
      color: #4faeb1;
      vertical-align: top;
      margin-top: 10px;
      margin-bottom: 20px;
      font-weight: 600;
    }

      .container .article div {
        display: inline-block;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 1px;
        width: 350px;
        vertical-align: top;
      }

      .container .article div.feature {
        margin-top: 20px;
        margin-left: 30px;
        width: 400px;
        height: 100%;
      }

      .container .article img {
        display: inline-block;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 1px;
        margin-top: 20px;
        width: 350px;
        border-radius: 4px;
        vertical-align: top;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 
                    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
                    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
      }

      .container .article .card {
        display: inline-block;
        margin: 10px;
        background-color: #2c2c2c;
        width: 245px;
        transition: .5s;
      }

      .container .article .card:hover {
        transition: .25s;
      } 

        .container .article .card h3 {
          margin: 10px 0;
          font-size: 20px;
          width: 100%;
          text-align: center;
        }

          .container .article .card h3 b {
            font-size: 32px;
            color: #4faeb1;
          }

        .container .article .card p {
          margin: 5px 0;
          font-size: 17px;
          width: 100%;
          text-align: center;
        }

        .container .article .card img {
          width: 100%;
          margin: 0;
          transition: .25s;
        }

        .container .article .card img:hover {
          opacity: .15;
          transition: .25s;
        }

        .container .article .card div.caption {
          display: block;
          position: absolute;
          width: 245px;
          text-align: center;
          margin-top: -250px;
          opacity: 0;
          transition: .25s;
          pointer-events: none;
        }

          .container .article .card div.caption img {
            display: block;
            border-radius: 100%;
            width: 50px;
            margin: auto;
            margin-bottom: 20px;
          }

        .container .article .card img:hover + div {
          opacity: 1;
          transition: .25s;
        }

  .container .stats {
    width: 100%;
  }

    .container .stats div {
      display: inline-block;
      margin: auto;
      text-align: center;
      margin-top: 25px;
      width: 160px;
      white-space: nowrap;
    }

      .container .stats div span {
        display: block;
        font-size: 22px;
        font-weight: 900;
        /*color: #e8ad5a;*/
      }

      .container .stats div span.numbers {
        font-size: 35px;
        color: #5fc3c7;
        margin: 10px 0;
        animation: shine2 10s linear infinite;
      }

      @keyframes shine2 {
        to {
          background-position: 400% 400%;
        }
      }


/*CODEBLOCK*/

pre code {
  background-color: rgba(20,20,20,0.3);
  border-radius: 3px;
  display: block;
  padding: 20px;
}

code {
  display: inline;
  font-family: Consolas, Menlo, Courier, monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
  background-color: rgba(20,20,20,0.3);
}

/*FOOTER*/

.footer {
    width: 100%;
    bottom: 0;
    background-color: #2c2c2c;
}

.footer .content {
    width: 800px;
    height: 100%;
    position: relative;
    margin: auto;
    vertical-align: top;
}

  .footer .content .block {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 20px 0;
  }

    .footer .content .block span {
      display: block;
      font-size: 14px;
    }

    .footer .content .block span.title {
      font-weight: bold;
      font-size: 25px;
    }

    .footer .content .block ul {
      list-style: none;
      padding: 0;
    }

      .footer .content .block ul li {
        opacity: .6;
      }

      .footer .content .block ul li:hover {
        opacity: 1;
      }

  .footer .content img {
    width: 136px;
    margin-bottom: 10px;
  }

  .footer .content .centered-span {
      display: block;
      width: 100%;
      font-size: 14px;
      text-align: center;
      margin-top: -20px;
      margin-bottom: 20px;
  }
